/* styles.css */
.image-selector {
  aspect-ratio: 1;
}

.images-container {
  width: 55%;
  background-color: red;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.image-selector img {
  width: 300;
  height: 300px;
  margin: 10px;
  cursor: pointer;
  border: 5px solid transparent;
}
.image-selector img.selected {
  border-color: green;
}

.main-character-container {
  display: flex;
  margin-top: 5px;
  height: 100vh;
  width: 100vw;
}

.text-container {
  width: 45%;
}

.text-container p {
  width: 100%;
  overflow-y: scroll;
  height: 400px;
}
